[Desktop Entry]
Type=Application
Version=1.0
Name=notm
GenericName=Notmuch Mail Client
Comment=Read and manage mail in a Notmuch database
Exec=notm launch
TryExec=notm
Icon=io.github.kris004.notm
Terminal=false
Categories=Network;Email;GTK;
StartupNotify=true
StartupWMClass=io.github.kris004.notm
Keywords=Email;Mail;Notmuch;GTK;
