[Desktop Entry]
Type=Application
Version=1.0
Name=notm
GenericName=Notmuch Mail Client
Comment=Native GTK4 Notmuch email client
Exec=notm launch
TryExec=notm
Terminal=false
Categories=Network;Email;GTK;
StartupNotify=true
StartupWMClass=dev.notm.Notm
Keywords=Email;Mail;Notmuch;GTK;
